!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title
      Firefly - #{@item[:title]}
    %link(rel="stylesheet" type="text/css" href="/css/main.css" media="all")
    %link(rel="stylesheet" type="text/css" href="/css/coderay.css" media="all")

  %body
    #body
      #contents
        #header
          %a(href="/")
            %img(alt="Your personal URL shortener" width="725" src="/images/firefly-logo.png")

        ~ yield

        #footer
          Copyright © 2010 – #{Time.now.year} Ariejan de Vroom

    %a(href="https://github.com/ariejan/firefly" id="github")
      %img(alt="Fork me on GitHub" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png")

