html {
  width: 100%;
  background-color: #ffffff;
  padding-top: 10px;
  font-family: Helvetica, sans-serif;
}

img {
  border: 0;
}

pre.CodeRay > code {
  border: none;
}

.intro {
  width: 100%;
}

#body {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  width: 100%;
}

#contents {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: justify;
  -moz-box-align: justify;
  width: 725px;
}

#intro {
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px;
  color: #043042;
  font-size: 18px;
  line-height: 24px;
}

#intro strong {
  color: #041f2a;
}

#header {
  margin-bottom: 20px;
}

#header h1 {
  font-size: 22px;
  text-align: right;
  padding-right: 43px;
  color: #346b8c;
}

#footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0,0,0,0.7);
  width: 100%;
  margin-top: 25px;
  font-size: 12px;
}

#footer img {
  display: block;
}

#footer ul {
	display: block;
  font-family: Helvetica, sans-serif;
  color: #336666;
  font-size: 16px;
  margin: 0;
	list-style-type: none;
	text-align: right;
}

#footer ul li {
	display: inline;
	margin-left: 6px;
}


#footer ul li a {
  text-decoration: none;
  color: #ff0000;
}

.contents {
  width: 725px;
}

h2 {
  font-size: 20px;
  padding-top: 5px;
  margin-top: 24px;
  margin-bottom: 10px;
  color: #000;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

ul.bullet {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
}

ul.bullet a {
  margin-left: 0;
  margin-right: 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}

ul.bullet a:last-child {
  margin-right: 0;
}

.notes {
  font-size: 90%;
  line-height: 150%;
  margin-top: 15px;
  margin-bottom: 8px;
  padding-right: 4px;
  padding-left: 4px;
  color: #006666;
}

.notes + a {
  margin-top: 10px;
}

.notes + pre {
  margin-top: 10px;
}

.notes + .description {
  margin-top: 20px;
}

.bullet {
  width: 100%;
  padding: 8px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: justify;
  -moz-box-align: justify;
}

.bullet .description {
  width: 100%;
  margin-right: 16px;
  color: #003333;
  line-height: 24px;
  margin-bottom: 8px;
}

.bullet a {
  padding-top: 8px;
  padding-bottom: 5px;
  text-decoration: none;
  display: block;
  color: white;
  margin: 10px 0 0 450px;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff0000), color-stop(100%, #990000));
  background-image: -moz-linear-gradient(top, #ff0000 0%, #990000 100%);
  background-image: linear-gradient(top, #ff0000 0%, #990000 100%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.bullet a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #990000), color-stop(100%, #ff0000));
  background-image: -moz-linear-gradient(top, #990000 0%, #ff0000 100%);
  background-image: linear-gradient(top, #990000 0%, #ff0000 100%);
}

.bullet .how {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: justify;
  -moz-box-align: justify;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  line-height: 24px;
}

.bullet pre {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  margin: 0;
}

.bullet code {
  background-color: rgba(0, 0, 0, 0.1);
}

code {
  font-family: monospace;
  font-size: 120%;
}

pre {
	padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.bullet:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bullet:not(:nth-of-type(1)) {
  padding-top: 15px;
}

.bullet {
  padding-bottom: 25px;
}

#github img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
